@import "vars";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: overlay;
    background: $color-primary-light;
}

button,
a {
    text-decoration: none;
    cursor: pointer;
    font-family: unset;
    -webkit-user-drag: none;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background: none;
}

button:disabled {
    cursor: initial;
}

img {
    display: block;
}
