@import "src/styles/vars";

.header {
    position: sticky;
    top: 0;
    height: 80px;
    background: white;
    z-index: 20;

    &.scrolling {
        box-shadow: 0px 8px 6px rgba(153, 226, 236, 0.15);
    }
}

.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    &:hover {
        path {
            fill: $color-primary-hover;
        }
    }
}

.nav {
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 26px;
}

@mixin navLink {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    cursor: pointer;
    color: $color-black;
    transition: color ease-out 200ms;
    z-index: 10;

    path {
        stroke: currentColor;
    }

    &:hover {
        color: $color-primary;
    }
}

.navLink {
    @include navLink;

    &.active {
        color: $color-primary;
    }
}

.buttons {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.whatsappButton {
    &:hover {
        path {
            fill: $color-primary-hover;
        }
    }
}
